/* BELOW 752px WIDTH */
@media (max-width: 47em) {
  html {
    font-size: 43.75%;
  }
  /* DEFAULT */
  .mobile .text {
    font-size: 2.4rem;
  }

  .mobile .label {
    width: 85px;
    height: 43px;
  }

  .mobile .slider {
    width: 34px;
    height: 34px;
    top: 4px;
    left: 4px;
  }

  .mobile .checkbox:checked + .label .slider {
    transform: translateX(40px);
  }

  .mobile .icon {
    width: 24px;
    height: 24px;
  }

  .mobile .icon--svg {
    width: 41px;
    height: 41px;
  }

  .mobile .mobile--nav__btn {
    display: block;
  }

  .mobile .icon--menu {
    display: block;
    padding-left: 0;
    width: 48px;
    height: 48px;
  }

  .mobile #btn__menu--close {
    display: block;
  }

  .mobile .nav__container {
    background: linear-gradient(
      120deg,
      rgb(235, 235, 235) 25%,
      rgb(251, 235, 240) 100%
    );
    opacity: 93%;
    position: absolute;
    top: 0;
    left: 0;
    right: 50%;
    bottom: 0;
    box-shadow: 0.6rem 0 1.2rem rgba(0, 0, 0, 0.2);
    flex-direction: column;
    align-items: flex-start;
    gap: 3.2rem;
    padding: 2.4rem;

    transform: translateX(-105%);
    transition: all 0.4s;
  }

  .mobile .nav__container.active {
    transform: translateX(0);
  }

  .mobile .nav__links {
    flex-direction: column;
    align-items: flex-start;
    gap: 3.2rem;
  }

  .mobile .nav__link {
    border: none;
    border-radius: 0;
    border-bottom: solid 1px #555;
  }

  .mobile .vl {
    display: none;
  }

  .mobile .link {
    display: flex;
    align-items: center;
  }
  .mobile .icon--nav {
    width: 24px;
    height: 24px;
  }

  .mobile .nav--item {
    display: inline-block;
    margin: 0;
    font-weight: 500;
    font-size: 2.6rem;
  }

  .mobile .card {
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 3fr;
  }

  .mobile .footer {
    gap: 6rem;
  }

  .mobile .footer__list,
  .mobile .footer__list.text,
  .mobile .footer__list .text {
    font-size: 2rem;
  }

  /* DARK VERSION */
  .mobile.dark .nav__container {
    box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.3);
    background: linear-gradient(
      120deg,
      rgba(51, 51, 51, 1) 25%,
      rgb(69, 55, 60) 100%
    );
  }

  .mobile.dark .nav__link {
    border-bottom: solid 1px #de5c89;
  }
}

/* BELOW 520px WIDTH */
@media (max-width: 32.5em) {
  html {
    font-size: 37.5%;
  }

  body {
    padding: 0.8rem;
  }

  .mobile .container {
    padding: 0 0.8rem;
  }

  .mobile .label {
    width: 70px;
    height: 36px;
  }

  .mobile .slider {
    width: 28px;
    height: 28px;
    top: 3px;
    left: 4px;
  }

  .mobile .checkbox:checked + .label .slider {
    transform: translateX(32px);
  }

  .mobile .icon {
    width: 20px;
    height: 20px;
  }

  .mobile .icon--svg {
    width: 34px;
    height: 34px;
  }

  .mobile .icon--menu {
    width: 32px;
    height: 32px;
  }

  .mobile .icon--nav {
    width: 16px;
    height: 16px;
  }

  .mobile .nav--item {
    font-size: 2rem;
  }
}

/* BELOW 352px WIDTH */
@media (max-width: 22em) {
  .mobile .footer {
    gap: 0.4rem;
  }

  .mobile .icon {
    width: 16px;
    height: 16px;
  }

  .mobile .icon--svg {
    width: 30px;
    height: 30px;
  }
}
