/*
FONT SYSTEM
 Sizing:
  8 / 10 / 12 / 14 / 16 / 18 / 20 / 24 / 28 / 32 / 36 / 44

 Family: 'Rubik', sans-serif
 Weight:
  Light: 300
  Regular: 400
  Medium: 500
  Bold: 700

SPACING SYSTEM
 8 / 10 / 12 / 16 / 20 / 24 / 32 / 44 / 48
 
COLORS 
 Main: #d6336c
 Tints: #de5c89 / #fbebf0
 Shades: #ab2956
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  cursor: default;
  font-family: "Rubik", sans-serif;
}

body {
  padding: 0 2.4rem;
  transition: all 0.3s;
  height: 100vh;
  overflow: scroll;
}

span {
  font-weight: 400;
}

strong {
  font-weight: 500;
}

/* HELPER CLASSES */
.container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

/* REUSABLE CLASSES */
.text {
  font-size: 2rem;
  font-weight: 300;
  color: #555;
  line-height: 1.6;
  margin-bottom: 2.8rem;

  transition: all 0.3s;
}

a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s;
}

.card__link .tooltip {
  top: -80%;
}

a .tooltip {
  font-size: 1.4rem;
  font-weight: 300;
  width: 8rem;
  opacity: 0;
  background-color: #777;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 0.4rem;

  position: absolute;
  top: 110%;
  left: 50%;
  margin-left: -4rem;
  z-index: 1;
  transition: all 0.2s;
  transition-delay: 0.1s;
}

a:hover .tooltip {
  opacity: 80%;
}

/* NAVIGATION */
.nav__bar {
  margin-bottom: 1.8rem;
  display: flex;
  align-items: center;
  gap: 4.4rem;
  margin-bottom: 2rem;
}

.mobile--nav__btn {
  display: none;
  align-self: flex-start;
  padding: 2.4rem 0;
}

.nav__container {
  padding: 2.4rem 0;
  display: flex;
  align-items: center;
  gap: 4.4rem;
}

.nav__links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.vl {
  border-right: solid 1px #999;
  height: 36px;
}

.nav__link {
  border: solid 1px #999;
  border-radius: 10px;
}

.nav__link,
.nav__link:link,
.nav__link:visited {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.nav__link:hover,
.nav__link:active {
  background-color: #d6336c;
}

#btn__menu--close {
  display: none;
}

.icon {
  padding: 1.2rem;
  width: 32px;
  height: 32px;
  color: #555;
  transition: all 0.3s;
  pointer-events: none;
}

.link:hover .icon {
  color: #fff;
}

.icon--menu {
  display: none;
}

.nav--item {
  display: none;
}

/* DISPLAY MODE SWITCH */
.switch {
  margin-left: auto;
}

.checkbox {
  display: none;
}

.label {
  width: 100px;
  height: 51px;
  background-color: #fff;
  border: solid 1px #999;
  border-radius: 10px;
  padding: 6px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
  cursor: pointer;
}

.slider {
  background: radial-gradient(
    circle,
    rgba(222, 92, 137, 1) 0%,
    rgba(214, 51, 108, 1) 100%
  );
  width: 40px;
  height: 40px;
  border-radius: 5px;

  position: absolute;
  top: 4px;
  left: 6px;

  transition: all 0.2s;
}

.label .icon {
  color: #000;
}

.checkbox:checked + .label .slider {
  transform: translateX(44px);
}

/* PROJECTS */
.project {
  margin-bottom: 4.4rem;
}

.project__title {
  font-size: 2.8rem;
  font-weight: 500;
  margin-bottom: 2.4rem;
  border-top: solid 1px #b4b4b4;
  padding-top: 4.4rem;
}

.tag {
  padding: 0.4rem 1rem;
  border-radius: 8px;
}

.tag--html {
  background-color: rgba(255, 140, 0, 0.8);
}

.tag--css {
  background-color: rgba(30, 143, 255, 0.8);
}

.tag--js {
  background-color: rgba(247, 222, 30, 0.8);
}

.card {
  border-radius: 12px;
  box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    120deg,
    rgb(235, 235, 235) 25%,
    rgb(251, 235, 240) 100%
  );

  display: grid;
  grid-template-columns: 3fr 4fr;
  align-items: center;
  gap: 2.4rem;
  overflow: hidden;
}

.img__container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  transition: all 0.3s;
}

.card__img:hover {
  transform: scale(1.02);
}

.details__container {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
}

.details__title {
  margin-bottom: 1.2rem;
  font-weight: 400;
}

.text--details {
  font-size: 1.8rem;
  margin-bottom: 0.6rem;
}

.card__links {
  margin-left: auto;
  display: flex;
  gap: 1.2rem;
}

.card__link .icon {
  padding: 0.6rem 1.6rem;
  width: 28px;
  height: 28px;
}

.card__link,
.card__link:link,
.card__link:visited {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #555;
  border-radius: 12px;
  transition: all 0.3s;
}

.card__link:hover,
.card__link:active {
  background-color: #333;
}

.card__link:hover .icon {
  color: #de5c89;
}

.dark .card__link:hover,
.dark .card__link:active {
  background-color: #555;
}

.dark .card__link:hover .icon {
  color: #d6336c;
}

/* FOOTER */
.footer {
  display: flex;
  gap: 12rem;
  align-items: center;
  justify-content: center;
  background-color: #e6e6e6;
  border-top: solid 1px #b4b4b4;
  padding: 4.4rem 1.2rem 5.2rem 1.2rem;
}

.footer__list,
.footer__list.text,
.footer__list .text {
  list-style: none;
  margin: 0;
}

.footer--link,
.footer--link:link,
.footer--link:visited {
  text-decoration: none;
  color: #555;
  transition: all 0.3s;
}

.footer--link:hover,
.footer--link:active {
  color: #de5c89;
  cursor: pointer;
}

.social__link {
  display: flex;
  align-items: center;
}

.social__link:hover p,
.social__link:hover .icon {
  color: #de5c89;
  stroke: #de5c89;
  fill: #de5c89;
}

.icon--svg {
  width: 55px;
  height: 55px;
  stroke: #555;
  fill: #555;
  pointer-events: none;
}
